<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="index.js" defer></script>
</head>

<style>
    [v-cloak] {
        display: none
    }

    .tooLow {
        color: grey;
    }

    .tooHigh {
        color: red;
    }

    .bingo {
        color: green;
    }
</style>

<body>

    <h1>
        Hi or Low (0-10)
    </h1>
    <h2>
        with Vue.js
    </h2>
    <div id='app' v-cloak>
        <p>
            <label>Your guess:</label>
            <input type="number" v-model.number="myGuess" v-on:keyup.enter="guessNumber" />
            
            <span v-if="isBingo">
                
                <a href="">Play Again!</a>
            </span>
            <span v-else>
                <button v-on:click="guessNumber">Guess</button>
            </span>
        </p>

        <p>
            <label>Hint:</label> 
            <span v-bind:class="{ tooLow : isTooLow, tooHigh : isTooHigh, bingo : isBingo }">
                {{ hint }}
            </span>
        </p>

        <div v-if="guessHistory.length > 0">
            <h3>Previous Guesses</h3>
            <ul>
                <li v-for="lastGuess in guessHistory"> {{ lastGuess }} </li>
            </ul>
        </div>
    </div>
</body>

</html>